@model IEnumerable<ProdutoViewModel>

@{
    ViewData["Title"] = "ProtótipoVendas - Loja";
}

<h2>Produtos</h2>
<hr />

@foreach (var item in Model)
{
    <div class="col-md-3">
        <div style="border-radius: 5px; padding: 0 0 25px 0; border: 1px solid #ddd; margin-top:25px">
            <div>
                <img src="@item.Foto" style="width:100%; height:240px; border-top-left-radius: 5px; border-top-right-radius: 5px" />
            </div>
            <div class="text-center" style="height:20%; margin-top: 5px">
                <p>@item.Nome</p>
                <p>R$ @item.Preco</p>
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhe</a>
                <a class="btn btn-success btn-sm" asp-action="AdicionarAoCarrinho" asp-route-idProduto="@item.Id" asp-route-page="Index"><span class="glyphicon glyphicon-shopping-cart"></span> Adicionar ao Carrinho</a>
            </div>
        </div>
    </div>
}